* {
  box-sizing: border-box;
  margin: 0;
}
nav {
  background-image: url(../img/pattern.png);
  background-color: rgb(0, 115, 255);
}
#container,
main,
footer {
  margin: auto 1%;
}
#logo-img {
  width: 20%;
  padding-top: 5%;
  padding-left: 1%;
}
#text-logo {
  color: rgb(57, 227, 239);
}
#data-article {
  font-size: 0.6em;
}
.heading,
h3 {
  color: rgba(103, 103, 103, 0.76);
}
figcaption {
  font-size: 0.6em;
}
ul {
  padding-left: 1em;
}
.first-column,
.second-column {
  width: 25%;
}
table {
  border-spacing: 0;
}
thead {
  background-color: rgb(0, 128, 255);
  color: white;
}
.row {
  background-color: rgb(0, 164, 229);
}
.img-text {
  position: absolute;
  color: white;
  font-size: 25px;
}
footer img {
  padding-bottom: 1%;
}
