* {
  box-sizing: border-box;
  margin: 0 auto;
}
nav {
  background-image: url(/img/pattern.png);
  background-color: rgb(0, 115, 255);
}
#logo-img {
  width: 20%;
  padding-top: 80px;
  padding-left: 20px;
}
h1 {
  margin-bottom: 0;
}
#testo-logo {
  color: rgb(57, 227, 239);
}
#data-scrittura {
  font-size: 0.6em;
}
.intestazione,
h3 {
  color: rgba(103, 103, 103, 0.76);
}
#container,
main,
footer {
  margin: auto 1%;
}
figcaption {
  font-size: 0.6em;
}
ul {
  padding-left: 1em;
}
.first-column,
.second-column {
  width: 25%;
}

thead {
  background-color: rgb(0, 128, 255);
  color: white;
}
table {
  border-spacing: 0;
}
.row {
  background-color: rgb(0, 164, 229);
}
.img-text {
  position: absolute;
  color: white;
  font-size: 25px;
}
